/* ====================================   Header's style   ==================================== */

#site-header {
    height: 51px;
    margin-top: 36px;

    @include breakpoint(sm) {
        margin-top: 58px;
    }

    .navbar-brand {
        width: 156px;
    }

    .navbar-nav {
        font-family: $font-family-sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 51px;

        a {
            color: white;
            position: relative;

            &::after {
                transition: all 0.2s ease-in-out;
                display: block;
                content: '';
                position: absolute;
                width: 0px;
                height: 3px;
                background-color: transparent;
            }

            &:hover,
            &:focus {
                color: $brand-primary;

                &::after {
                    width: 10px;
                    background-color: $brand-primary;
                }
            }
        }
    }

    .navbar-default {
        .navbar-toggle {
            right: 20px;
            color: white;
            padding: 5px 10px;
            top: 7px;
            border-color: transparent;

            &:focus,
            &:hover {
                background: transparent;
            }
        }
    }

    .navbar-collapse {
        background: rgba(0, 0, 0, 0.7);
        box-shadow: none;
        margin-top: 10px;

        @include breakpoint(xs) {
            background: rgba(0, 0, 0, 0.8);
            position: fixed;
            top: 0;
            left: 100%;
            right: -120%;
            bottom: 0;
            margin: 0;
            padding: 16px;
            z-index: 1;
            display: block;
            transition: all 0.2s ease-in-out;
        }

        @include breakpoint(sm) {
            background: transparent;
            margin-top: 0;
        }
    }

    .navbar-mask {
        z-index: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        display: none;
    }

    #navbar-close {
        position: fixed;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: white;
        z-index: 2;
        display: none;
    }

    &.affix-top,
    &.affix {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }

    .blog &,
    .work & {
        margin-top: 0;
        padding: 50px 0;
        height: initial;
        transition: all 0.2s ease-in-out;

        &.affix-top {
            background-color: #171717;
            position: static;
        }

        &.affix {
            background-color: rgba(23, 23, 23, 0.6);
            padding: 20px 0;
        }
    }

    .blog-detail & {
        background-color: #1d1d1d;
        margin-top: 0;
        height: initial;
        padding: 32px 0;
        position: static;
        transition: all 0.2s ease-in-out;

        @include breakpoint(md) {
            padding: 50px 0;
        }

        &.affix {
            position: fixed;
            background-color: rgba(29, 29, 29, 0.5);
            padding: 32px 0;
        }
    }
}